<div class="move-card">
    <div class="move-info item-name" data-item-id="{{_id}}">
        
        <img src="{{img}}" data-edit="img" title="{{name}}" height="15" width="15"/><span class="move-card-text">{{name}}</span>
        <a class="item-control item-show"><i class="far fa-comment-alt"></i></a><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a><a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        
            
    </div>
</div>
