.attribute-box {
width: 20%;
}

.advantage-box{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 5px;
    align-items: top;
}

.advantage-box div{
    width: 100%;
}

.right-middle-column{
    width: 40%
}

.attribute-box input{
width: 40px;
float: right;

}

.navigation-section{
    border-top: 1px solid #968c6a;
    border-bottom: 1px solid #968c6a;
    vertical-align: middle;
    padding-top: 5px;
}



.tabButton:hover{
    background-color: #9b201f;
    color: #968c6a
}

.tabButton{
    background-color: #968c6a;
    color: #9b201f;
    font-size: xx-large;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.move-info input{
    width: 30px;
   }

.move-info a{
    vertical-align: middle
}

table{
    border-top: none;
}


.section-label{
    font-size: large;
    font-weight: bold;
}

.item-list{
    padding-bottom: 10px;
}

.move-card{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    border: 1px solid #968c6a;
    background-color: gray;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    break-inside: avoid;
    color: black;
}

.actor-picture{
    float: right;
}

.bottom-section .move-list{
    column-count: 3;}

.bottom-section{
    border-bottom: 1px solid #968c6a;
}

.item-control {
    float: right;
}

.fas{
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: middle;
}

.middle-section{
    display: flex;
    align-items: top;
    border-top: none;
}

input{
    background-color: gray;
}

.weapon-column{
    display: inline-block;
    width: 25%;
}

div.stability-section{
    width: 50%;
    position: relative;
    left: 0px;
    float: left;
    overflow: hidden;
}

div.right-middle-column{
    width: 50%;
    overflow: hidden;
    padding: 20px;
}

.flex-container{
    display: flex
}

.flex-column {
    flex:1
}

.top-section{
    padding: 2px;
    align-items: center;
}

.section-label{
    text-align: center;
    font-size: x-large;
}

.move-name{
    background-color: black;
    color: #9b201f;
    text-align: center;
    margin-top: 3px;
    font-size: large
}

.result-roll{
    background-color: darkslategray;
    color: black;
    text-align: center;
    margin-top: 3px;
    font-size: large
}

.tooltip {
    position: relative;
    display: inline-block;
  }  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .stabilized { 
    float: right;
  }

  td textarea{
      width: 300px;
      height: 150px
  }

  .hidden{
      display: none;
  }


 .tox-tinymce
  {
      height: 100px;
      min-height: 100px;
  }

  .background-box{
      height: 100%;
  }

  .move-card-text{
      padding-left: 3px;
      vertical-align: middle;
  }

  .move-card img{
      vertical-align: middle;
      height: 15px;
      width: 15px
  }

  .kult-sheet{
      background-color: black;
      padding: 5px;
      color: #9b201f
  }

  .sheet-header img{
      background-color: #968c6a;
  }

  .section-label{
    color: #9b201f;

  }

  .wound-section select{
      background-color: gray;
  }

  .wound-section input{
      background-color: gray;
      width: 100%;
  }

  .stability-section .fas{
      color: #9b201f;
  }

  .stability-section select{
      background-color: gray;
  }

.editor{
    height: 100%;
    min-height: 100px;
}

.editor-content{
    height: 100%;
    min-height: 100px;
}

.free-text{
    height: 100%;
    background-color: gray;
}

  .modifier-section{
      color: #9b201f;
  }

  .modifier-section select{
      background-color: gray;
  }

  input{
      background-color: gray;
  }

  .attribute-box tr{
      background-color: black;
      color: #9b201f;
        }

  .attribute-box option{
      background-color: gray;
  }

  .modifier-section{
      display: flex;
      align-items: center;
  }

  .wound-entries div{
      display: flex;
      align-items: center;
      margin-bottom: 3px;
  }

  .wound-section{
      display: flex;
  }

  .wound-section input{
      color: gray;
  }

  .two-column{
      display: flex;
      flex-direction: row;
  }

  .two-column>div{
      width: 50%;
      margin-right: 5px;
  }

  .weapon-card{
      width: 100%
  }

  .two-column .section-label{
      text-align: center;
  }

  .wound-name{
      background-color: gray;
  }

  .attribute-box select{
      color: #9b201f;
  }

  .stabilized{
      float: right;
  }

  .character-name input{
    color: #9b201f;
    border: 1px solid #968c6a
  }

  .background-section{
      display: none;
  }

  input.short-input{
      width: 70px;
  }

  .advantage-column{
      text-align: center;
      display: inline-block;
  }
